body {
    color: #000000;
    font-size: 20px;
}

.header {
    background: #000000;
    color: white;
    size: 30px;
    text-align: center;
    font-size: 32px;
}

.sidebar1 {
    background: #DEB887;
    height: 20%;
    width: 30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}

p1 {
    border-top: 3px white dashed;
    border-left: 3px white dashed;
    border-right: 3px white dashed;
}

p2 {
    border-right:3px white dashed;
    border-left:3px white dashed;
}

p3 {
    border-bottom: 3px white dashed;
    border-left: 3px white dashed;
    border-right: 3px white dashed;
}